.introduction {
  color: white;
  text-align: left;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  top: 140px;
  left: 300px;
}
.char:hover {
  cursor: pointer;
  opacity: 0;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.neon-line {
  position: absolute;
  list-style: none;
  top: 265px;
  margin: 0 50px;
  height: 10px;
  width: 400px;
  background: #fff;
  left: 350px;
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
  animation: flicker 0.7s infinite alternate;
  background-color: rgb(24, 23, 23);
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #15f4ee, 0.2rem 0.2rem 1rem #15f4ee,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
