.talkhead {
  position: relative;
  text-align: center;
  top: 50px;
  font-size: 100px;
  right: 300px;
  color: aqua;
}

.full-name {
  position: absolute;
  text-align: center;
  top: 250px;
  font-size: 30px;
  right: 1300px;
  color: azure;
}

.nameinput {
  position: absolute;
  top: 300px;
  right: 1030px;
  width: 400px;
  background-color: transparent;
  border-color: aqua;
  color: white;
  font-size: large;
}

.email {
  position: absolute;
  text-align: center;
  top: 350px;
  font-size: 30px;
  right: 1360px;
  color: azure;
}

.emailinput {
  position: absolute;
  top: 400px;
  right: 1030px;
  width: 400px;
  background-color: transparent;
  border-color: aqua;
  color: white;
  font-size: large;
}

.message {
  position: absolute;
  text-align: center;
  top: 450px;
  font-size: 30px;
  right: 1310px;
  color: azure;
}
.messageinput {
  position: absolute;

  top: 500px;
  right: 1030px;
  width: 400px;
  height: 200px;
  background-color: transparent;
  border-color: aqua;
  color: white;
  font-size: large;
}

.send {
  position: relative;
  text-align: center;
  top: 550px;
  left: 600px;
  width: 200px;
  padding: 20px;
  font-size: 10px;
  color: #15f4ee;
  font-family: poppins;
  font-weight: 400;
  border: 5px solid #15f4ee;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  transition: 1s;
}

.send:hover {
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.emailSSent {
  position: absolute;
  color: white;
  padding: 10px, 15px;
  left: 660px;
  top: 700px;
}

.emailNSent {
  position: absolute;
  color: #ee6352;
  padding: 10px, 15px;
  left: 650px;
  top: 700px;
}

.personalDetails {
  border: 4px inset #15f4ee;
  font-family: poppins;
  color: white;
  font-size: larger;
  position: absolute;
  top: 280px;
  left: 1000px;
}
.personalDetails:hover {
  cursor: text;
  user-select: text;
}
